.edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff30;
  border-radius: 10px;
  padding: 30px 0 50px 0;
  @media screen and (min-width: 460px) {
    min-width: 480px;
  }
  @media screen and (max-width: 460px) {
    width: 100%;
    .last-input-with-submit-button {
      flex-direction: column !important;
    }
  }
  .modal-close-button {
    position: relative;
    button {
      position: absolute;
      right: 15px;
      top: -15px;
      color: #00000070;
    }
  }
  .inputs {
    row-gap: 20px !important;
  }
  h2 {
    text-align: center;
    color: #fff;
  }
}
