.recordings-content {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  //justify-content: center;
  row-gap: 10px;
  align-items: center;
  padding-top: 120px;
  min-height: calc(100vh - 120px);
  background: url("../../../assets/home-page/background1.jpg") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &.logged {
    .category-filter-box {
      margin-top: 6px;
    }
    .form-content {
      margin-top: -15px;
      @media screen and (max-width: 640px) {
        margin-top: -45px;
      }
    }
  }
  .category-filter-box {
    @media screen and (max-width: 640px) {
      margin-top: -45px;
    }
  }
  .playlist {
    max-width: 870px;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-evenly;
    .empty-list-box {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }
}
