.occations-page {
  position: relative;
  background-color: white;
  overflow-x: hidden;

  .content {
    display: flex;
    flex-direction: column;
    .occations-page-first-screen {
      position: relative;
      background: url("../../../assets/backgrounds/background3.jpg") no-repeat
        center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;
      width: 100%;
      @media screen and (max-height: 815px) {
        height: 110vh;
      }
      @media screen and (max-height: 736px) {
        height: 120vh;
      }
      .occasion-title {
        display: none;
        font-size: 22px;
        line-height: 22px;
        margin: 80px auto -124px auto;
        font-family: "Arial Black", Gadget, sans-serif;
        color: #157878;
        max-width: 450px;
        justify-content: center;

        @media screen and (max-width: 640px) {
          display: flex !important;
          .occasions-container {
            margin-top: 55px;
          }
        }
      }
      .occasions-container {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        top: 50%;
        display: flex;
        width: 91.5%;
        max-width: 850px;
        gap: 25px;
        @media screen and (max-width: 800px) {
          margin-top: 55px;
          flex-direction: column;
        }
        @media screen and (max-width: 640px) {
          margin-top: 0px;
          margin-top: 60px;
        }
      }
    }
  }
}
