.navbar-container {
  width: 100%;
  position: fixed;
  opacity: 1;
  height: 56px;
  background: #303030;
  z-index: 1;
  transition: all 0.3s ease;
  @media screen and (min-width: 640px) {
    &.scrolling-mode {
      padding-bottom: 29px;
      color: #fff;
      .menu-container {
        margin-top: -10px;
      }
    }
  }
  .navbar-content {
    z-index: 5;
    display: flex;
    max-width: 850px;
    padding: 0px 12px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    .spinner {
      cursor: pointer;
      border-radius: 12%;
      border-width: 11px;
      position: absolute;
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      z-index: 1;
      left: 10px;
      top: 6px;
      z-index: 1;
    }
    .navbar-logo {
      cursor: pointer;
      min-width: 32px;
      max-width: 32px;
      padding-bottom: 2px;
      margin: auto 10px auto 3px;
      z-index: 2;
      path {
        fill: #157878;
      }
    }
    .title-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 3px;
      .location-title {
        color: #157878;
        font-size: 22px;
        line-height: 22px;
        font-family: Arial Black;
        font: normal normal normal 22px/22px Arial Black;
        font-weight: bold;
        text-transform: uppercase;
      }
      .title-box {
        color: #fff;
        line-height: 22px;
        display: flex;
        .logo-title {
          font-size: 30px;
          font-family: Arial Black;
          font-weight: bold;
          text-transform: uppercase;
        }
        .separation-line {
          margin: 0px 13px;
          height: 22px;
          width: 1px;
          background: #fff;
          margin-top: 1.5px;
        }
        .long-title {
          font-size: 18px;
          font-family: Arial Black;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
    .icon-container {
      display: flex;
      color: white;
      height: 100%;
      align-items: center;
      .icon {
        margin-left: 9px;
        height: 23px;
        width: 23px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: #ffc21c;
        }
      }
      .line {
        height: 23px;
        width: 1.5px;
        border-radius: 3px;
        background-color: #fff;
        &.first {
          margin: 0px 3px;
          opacity: 0.5;
        }
      }
      .harangszo-radio-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 142px;
        height: 27px;
        cursor: pointer;
        background: transparent
          linear-gradient(270deg, #157878b4 0%, #15787857 49%, #15787800 100%)
          0% 0% no-repeat padding-box;
        .icon {
          margin: 0px 4px;
        }
        .harangszo-title {
          font-size: 10px;
          font-family: Arial Black;
          font-weight: bold;
          width: 89px;
          line-height: 10px;
          text-transform: uppercase;
          text-align: end;
        }
        &:hover .icon {
          color: #ffc21c;
        }
      }
    }
    .hamburger-react {
      color: white;
      display: none;
      margin: auto -6px auto 8px;
      scale: 0.75;
      transform: scale(0.75);
      min-width: 48px;
      :nth-of-type(2) {
        scale: 0.8;
        transform: scale(0.8);
      }
      &:hover {
        color: #ffc21c;
      }
    }
  }
  @media screen and (max-width: 792px) {
    .logo-title,
    .long-title span,
    .separation-line {
      display: none;
    }
    .location-title {
      margin-top: 5px;
    }
    .title-box {
      margin-top: -4px;
    }
  }
  @media screen and (max-width: 640px) {
    .navbar-content .hamburger-react {
      display: flex;
    }
    .location-title,
    .long-title {
      display: none;
    }
    .logo-title {
      display: block;
      margin-top: 17px;
    }
    .harangszo-radio-container {
      max-width: 100px;
    }
  }
  @media screen and (max-width: 420px) {
    .navbar-content .icon-container {
      display: flex;
      position: absolute;
      bottom: -85vh;
      width: 100%;
      align-items: flex-end;
      justify-content: center;
      transform: translateX(1000px);
      animation: translateIn 0.5s ease-out forwards;
      height: 150px;
      margin-right: 15px;
      gap: 10px;
      .line {
        display: none;
      }
      &.closed {
        display: none;
      }
    }
  }
}
.menu-container {
  position: absolute;
  transition: all 0.3s ease;
  top: 60px;
  display: flex;
  justify-content: space-between;
  width: 97.4%;
  text-transform: capitalize;
  .nav-link {
    padding: 10px 0px;
    cursor: pointer;
    font-size: 13px;
    transition: all 0.2s ease;
    &:hover {
      color: #ffbb00;
      border-bottom: solid 5px #ffc21c9e;
      border-radius: 5px;
    }
    &.active {
      border-bottom: solid 5px #157878;
      border-radius: 5px;
      &:hover {
        color: #157878;
        border-bottom: solid 7px #157878;
        border-radius: 7px;
      }
    }
  }
  @media screen and (max-width: 929px) {
    width: 91.5%;
    padding: 0px 20px;
  }
  @media screen and (max-width: 640px) {
    display: none;
    &.opened {
      display: flex;
    }
  }
}

.opened {
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #303030;
  margin-top: -56px;
  margin-left: -20px;
  left: 0px;
  height: 100vh;
  transform: translateX(1000px);
  animation: translateIn 0.5s ease-out forwards;
  .nav-link {
    display: flex;
    width: 100%;
    max-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transform: translateX(1000px);
    align-items: center;
    justify-content: center;
    flex: auto;
    &:nth-of-type(0) {
      animation: translateIn 0.4s 0s ease-in-out forwards;
    }
    &:nth-of-type(1) {
      animation: translateIn 0.4s 0.05s ease-in-out forwards;
    }
    &:nth-of-type(2) {
      animation: translateIn 0.4s 0.1s ease-in-out forwards;
    }
    &:nth-of-type(3) {
      animation: translateIn 0.4s 0.15s ease-in-out forwards;
    }
    &:nth-of-type(4) {
      animation: translateIn 0.4s 0.2s ease-in-out forwards;
    }
    &:nth-of-type(5) {
      animation: translateIn 0.4s 0.25s ease-in-out forwards;
    }
    &:nth-of-type(6) {
      animation: translateIn 0.4s 0.3s ease-in-out forwards;
    }
    &:nth-of-type(7) {
      animation: translateIn 0.4s 0.35s ease-in-out forwards;
    }
  }
  .nav-link {
    &:hover {
      border-bottom: solid 0px #ffc21c00;
      background: #484848;
    }
    &.active {
      border-bottom: solid 0px #15787800;
      color: #157878;
      &:hover {
        border-bottom: solid 0px #15787800;
        background: #ffc21c9e;
        color: #fff;
      }
    }
  }
}

.inProgress {
  transform: translateX(0px);
  animation: translateOut 0.5s ease-out forwards;
}

@mixin animation-mixin($openTheMenu, $closeTheMenu) {
  @keyframes #{$openTheMenu} {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes #{$closeTheMenu} {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }
    100% {
      transform: translateX(1000px);
      opacity: 0;
    }
  }
}

@include animation-mixin(translateIn, translateOut);
