.MuiStack-root {
  margin-top: -8px;
}
input.MuiInputBase-input {
  margin-right: -25px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 0px;
  max-width: 205.5px;
}
.MuiFormLabel-root {
  top: -3px !important;
  font-size: 14px !important;
}
