.content {
  display: flex;
  flex-direction: column;
  .background1 {
    position: relative;
    background: url("../../../assets/backgrounds/background5.jpg") no-repeat
      center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    .contact-title {
      // margin-top: 100px;
      display: none;
      font-size: 22px;
      line-height: 22px;
      margin: 80px auto -124px auto;

      font-family: "Arial Black", Gadget, sans-serif;
      color: #157878;
      max-width: 450px;
      justify-content: center;

      @media screen and (max-width: 640px) {
        display: flex !important;
        .occasions-container {
          margin-top: 55px;
        }
      }
    }
    .contact-container {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 200px auto 0 auto;
      gap: 30px;
      width: 91.5%;
      max-width: 850px;
      @media screen and (max-width: 700px) {
        flex-direction: column;
        .map {
          display: none;
        }
        button {
          display: inherit !important;
        }
      }
      button {
        color: rgba(255, 255, 255, 1);
        font: normal normal bold 16px/22px Arial;
        text-shadow: 10px 10px 15px #00000029;
        background: #157878cc;
        box-shadow: 0px 4px 15px #aaaaaa4d;
        border-radius: 12px;
        width: 173px;
        height: 44px;
        border-width: 0px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: none;
        &:hover {
          box-shadow: 0 5px 15px #aaaaaa40;
          background: #288989;
        }
      }
      button:active {
        background: rgba(25, 168, 168, 0.6);
      }
      .detail-card-box {
        min-height: 370px;
        background-color: #ffffff50;
      }
      .map {
        width: 70% !important;
        height: 370px;
        border-radius: 12px;
        .map-iframe {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          border: 0px;
        }
      }
    }
  }
}
